[submodule "3dMPRAGEise"]
	path = anat_preproc/workflow/scripts/3dMPRAGEise
	url = https://github.com/myousif9/3dMPRAGEise
[submodule "anat_preproc/workflow/scripts/gradcorrect"]
	path = anat_preproc/workflow/scripts/gradcorrect
	url = https://github.com/myousif9/gradcorrect
